<!-- この記述がblogのshow画面に表示されるコメント入力欄になります -->
<%= form_with(model: [community, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :コメント内容 if community.comments.count < 30%>
    <%= form.text_area :content if community.comments.count < 30%>
  </div>
  <div class="actions">
    <%= form.submit "コメントする" if community.comments.count < 30%>
  </div>
<% end %>
