<div class="name text-center bgimage">
<h1>Community Maker</h1>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v11.0" nonce="L3ci3i7U"></script>
<br>
<br>
<br>
<br>
<br>
<h4>自分の人生にコミュニティを1つ追加しませんか？</h4>
<br>
<br>
<br>
<br>
<h6 style = "color:#FFF0F5">Community Makerはコミュニティを作りたい人と、コミュニティに参加したい人をマッチングさせるアプリです</h6>
<h6 style = "color:#FFF0F5">しかし！安心しないで！このコミュニティ掲示板は30コメントに達するとコメントできなくなってしまう！</h6>
<h6 style = "color:#FFF0F5">30コメントに達する前に、集めた仲間をTwitter,Line,FacebookなどのSNSに誘導してコミュニティを継続させよう！！</h6>
<h6 style = "color:#FFF0F5">ゲーム感覚でコミュニティを自由に作り、楽しんでください​!</h6>
<div>
<br>
<br>
<br>
<br>
<br>
<h4><%= link_to 'リョウマルヤマについて' , about_path %></h4>
<br>
<%= link_to t('アカウント作成'), new_user_registration_path, class: "btn btn--orange btn--radius" %>
<%= link_to t('view.ログイン'), new_user_session_path, class: "btn btn--orange btn--radius" %>
<br>
<br>
<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn--orange btn--radius", method: :post %>
<%= link_to 'ゲスト管理者ログイン（閲覧用）', users_guest_admin_sign_in_path, class: "btn btn--orange btn--radius", method: :post %>
<br>
<br>
<p><%= notice %><%= alert %></p>
<% if user_signed_in? %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Googleでサインアップしてね', user_google_omniauth_authorize_path, class: "btn btn--orange btn--radius", method: :post %>
<% end %>

<div class="banner_icon">
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class="line-it-button" data-lang="ja" data-type="share-c" data-ver="3" data-url="https://pacific-inlet-71255.herokuapp.com/" data-color="default" data-size="small" data-count="false" style="display: none;"></div>
<script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
<div class="fb-share-button" data-href="https://pacific-inlet-71255.herokuapp.com/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpacific-inlet-71255.herokuapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>
</div>
