<div class="name text-center">
<h2><%= @user.name %>さんのページ</h2>
<div class="profile_icon">
<br>
<br>
  <% if @user.image? %>
  <%= image_tag @user.image.url, class:"user_show_icon" %>
  <% else %>
  <%= image_tag "Noname.png", class:"user_show_icon" %>
  <% end %>

</div>
<br>
<h5>自己紹介: <%= @user.description %></h5>
<%= link_to "フォロー:#{@user.following.count}", following_user_path(@user) %>
<%= link_to "フォロワー:#{@user.followers.count}", followers_user_path(@user) %>


<div class="user_show_button">
<% if current_user.admin?%>
<h3><%= link_to '管理者画面へ移動' , rails_admin_path, class: 'btn btn-default' %></h3>
<% end %>
<div>
  <%= link_to 'プロフィール編集', edit_user_registration_path, class: 'btn btn-default' unless  @user.id != current_user.id||current_user.id==23 || current_user.id==24  %>
</div>
<br>
<div>
<%= link_to 'メッセージ一覧', conversations_path, class: 'btn btn-default' %>
</div>
<br>
<div>
<%= link_to 'コミュニティ一覧へ戻る', communities_path, class: 'btn btn-default' %>
</div>
<br>
<div>
<%= link_to 'ユーザ一覧へ戻る', users_path, class: 'btn btn-default' %>
</div>
<br>
<% if @user.id != current_user.id %>
<td nowrap><%= render 'follow_form', user: @user %></td>
<br>
<td nowrap>
<div class="item">
  <%= link_to 'メッセージを送る', conversations_path(sender_id: current_user.id, recipient_id: @user.id), class: "btn btn--yellow btn--border-dashed", method: :post %>
</div>
</td>
<% end %>
</div>
</div>
