<%= form_with(model: community, local: true,url: choose_new_or_edit) do |form| %>
  <% if community.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.template.header", model: Community.model_name.name, count: community.errors.count) %></h2>
      <ul>
      <% community.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
<li>コミュニティガイドラインを遵守し、良識のあるコミュニティ作成を心がけましょう</li>
  <div class="field text-center">
    <%= form.label :コミュニティ名 %>
    <%= form.text_field :name, class: "namefield" %>
  </div>

  <div class="field text-center">
    <%= form.label :コミュニティ説明 %>
    <%= form.text_area :description, class: "descriptionfield" %>
  </div>

  <div class="field">
  <%= form.label :image %><br/>
  <%= form.file_field :image, class: "filefield" %>
  </div>

  <div class="actions text-center">
    <%= form.submit "+コミュニティを作る", class: "btn btn-gradient" %>
  </div>
<% end %>
