
<h1>Communities</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>コミュニティ名</th>
      <th>コミュニティ説明</th>
      <th>作成者</th>
      <th>作成日時</th>
    </tr>
  </thead>

  <tbody>
    <% @communities.each do |community| %>
      <tr>
        <td><%= community.name %></td>
        <td><%= community.description %></td>
        <td><%= community.user.name %></td>
        <td><%= community.created_at.strftime("%Y-%m-%d %H:%M") %></td>



        <% if user_signed_in? %>
       <td><%= link_to '詳しく', community,class: 'btn btn-info' %></td>
       <% end %>
         <% if community.user == current_user %>
        <td><%= link_to '編集', edit_community_path(community), class: 'btn btn-success' %></td>
        <td><%= link_to '削除', community,  class: 'btn btn-warning',method: :delete, data: { confirm: '本当に消しちゃっていいの?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'コミュニティを作る', new_community_path, class: 'btn btn-default' %>
