
<br>
<p style = "color:#3399FF">
  <strong>コミュニティ名:</strong>
  <%= @community.name %>
</p>

<p>
  <strong>コミュニティ説明:</strong>
  <%= @community.description %>
</p>
<% if @community.image? %>
<%= image_tag @community.image.url, class:"community_show_icon" %>
<% else %>
<%= image_tag "Noname.png", class:"community_show_icon" %>
<% end %>
<% unless @community.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to '-いいね!解除', favorite_path(id: @favorite.id), method: :delete, class: "btn btn--yellow btn--circle"%>
  <% else %>
    <%= link_to '+いいね!', favorites_path(community_id: @community.id), method: :post, class: "btn btn--yellow btn--circle"  %>
  <% end %>
<% end %>
<% unless @community.user_id == current_user.id %>
  <% if @member.present? %>
    <%= link_to '-退会', member_path(id: @member.id), method: :delete, class: "btn btn--sanka btn--sanka" %>
  <% else %>
    <%= link_to '+参加', members_path(community_id: @community.id), method: :post, class: "btn btn--sanka btn--sanka" %>
  <% end %>
<% end %>
<br>
<br>
<br>
<br>

<p>コメント一覧</p>
  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->

  <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, community: @community } %>
  </div>
  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, community: @community } %>

<% if @community.user == current_user %>
<%= link_to '編集', edit_community_path(@community) %>
 <% end %>
<%= link_to '戻る', communities_path %>
