<h2>参加コミュニティ一覧</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th nowrap>コミュニティid</th>
      <th nowrap>アイコン</th>
      <th nowrap>コミュニティ名</th>
      <th nowrap>コミュニティ説明</th>
      <th nowrap>作成者</th>
      <th nowrap>作成日</th>
      <th nowrap>コメント<i class="fas fa-comment-dots"></i></th>
      <th nowrap>いいね！<i class="fas fa-heart"></i></th>
      <th nowrap>参加者<i class="fas fa-user"></i></th>
    </tr>
  </thead>


    <% @member.each do |member| %>
      <tr>
        <td><%= member.community.id %></td>
        <% if member.community.image? %>
        <td><%= image_tag member.community.image.url, class:"community_index_icon" %></td>
        <% else %>
        <td><%= image_tag "Noname.png", class:"community_index_icon" %></td>
        <% end %>
        <td nowrap><%= link_to member.community.name,community_path(member.community.user.id), class: "btn btn--orange"%></td>
        <td nowrap><%= truncate(member.community.description, length: 30) %></td>
        <td nowrap><%= link_to member.community.user.name,user_path(member.community.id) %></td>
        <td nowrap><%= member.community.created_at.strftime("%Y-%m-%d") %></td>
        <td nowrap><%= member.community.comments.count%></td>
        <td nowrap><%= member.community.favorites.count%></td>
        <td nowrap><%= member.community.members.count%></td>
      </tr>
  <% end %>
</table>
<%= link_to 'コミュニティ一覧へ戻る', communities_path, class: 'btn btn-default' %>
